//Catalog catalog
.container_catalog{
}
.catalog{
  margin-top: 100px;

  h2{
    font-size: 60px;
    font-weight: 700;
  }

  &__grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
  }
  &__item{
    width: 384px;
    height: 473px;
    // background-color: red;

    &Name{
      text-align: center;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.48px;      
    }
    &SpecArr{
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      padding: 0 12px;
    }
    &Spec{
      display: flex;
      flex-direction: column;
      align-items: center;

      h5{
        margin-top: 11px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.32px;        
      }
      p{
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.32px;        
      }
    }
  }
}

.button_catalog{
  margin-top: 15px;
  width: 100%;
}
