//Header
.container_header{

}
.header{
  margin-top: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 244px;

  @media (max-width: 900px){
    gap: 0;
    justify-content: space-between;
    width: calc(100% - 2*var(--contentInnerPadX)) ;    
  }    
  @media (max-width: 670px){
    flex-direction: column;
    gap: 10px;
  }

  img{
    width: 113px;
  }

  &__navList{
    display: flex;
    gap: 115px;

    @media (max-width: 670px){
      gap: 30px;
    }

    a{
      font-size: 15px;
      font-weight: 400;

      @media (max-width: 670px){
        font-size: 12px;
      }
    }
  }
}

