//Footer
.container_footer{
}
.footer{
  border-top: 1px solid #E5E5E5;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  font-weight: 400;
}

