@import-normalize; /* bring in normalize.css styles */

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --contentInnerPadX: 10px;
  --containerW: calc(1200px + 2*var(--contentInnerPadX)) ;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
input,button,textarea {
  font-size: 15px;
  background-color: transparent;
}
input,textarea,span {
  font-family: inherit;
}
textarea {
  resize: none;
}
input::-ms-clear {
  display: none;
}
input::placeholder,textarea::placeholder {
  font-size: 15px;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:focus, a:active{
  color:inherit;
}
a,a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
img,video {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Raleway-maroon', sans-serif;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #030305;
}
.container {
  margin: 0 auto;
  padding: 0 var(--contentInnerPadX);
  max-width: var(--containerW);
  position: relative;
}
.container-ex {
  min-height: 1vh;
  width: 100%;
  position: relative;
}
